.card {
  width: 15em;
  margin: 1em;
  font-family: "Asap", sans-serif;
}
.poster img {
  width: 15em;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
}
.vote {
  font-weight: 500;
}

.description {
  font-weight: 300;
}
